body {
    background-color: lightblue;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

#game-square {
    background-color: #c0fdff;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game {
    background-color: #f3c4fb;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    height: 30px;
}

.text-box {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    align-self: end;
    justify-content: space-between; /* Distribute space between children */
    align-items: left;
    margin-bottom: 10px; /* Add spacing from the bottom */
    width: 650px;
    height: 150px;
    border: 3px solid #e2afff;
    border-bottom: 10px solid #e2afff;
    border-right: 10px solid #e2afff;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.button-container {
    display: flex;
    flex-direction: row; /* Arrange buttons horizontally */
    margin-top: 10px;
    align-items: end;
    justify-content: center;
}

.picture-container {
    height: 65%;
    width: 65%;
    display: flex;
    justify-content: center;
}

.yes-button, .no-button {
    background-color: #e2afff;
    margin-right: 50px; /* Add spacing between buttons */
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

.next-button {
    background-color: #e2afff;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}

.next-button-container {
    display: flex;
    flex-direction: row; /* Arrange buttons horizontally */
    align-items: flex-end; /* Align to the bottom */
    justify-content: end;
}